<h1>Agregar Departamento</h1>

<form asp-action="Create" method="post">
    <div>
        <label>Nombre:</label>
        <input type="text" name="Nombre" required />
    </div>
    <button type="submit">Guardar</button>
</form>
